<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="DashCtrl">
    <ion-pane>
      <ion-header-bar class="bar-dark">
        <h1 class="title">VIP Starter Application</h1>
      </ion-header-bar>
      <ion-content ng-controller="ExampleController">
        <div>
          <button class="button button-balanced" ng-click="launchSite()">
          Click me!
          </button>
        </div>
		<button class="button" ng-click="insert(&apos;bob&apos;, &apos;boy&apos;)">Insert</button>
		<button class="button" ng-click="select(&apos;boy&apos;)">select</button>
        
	<button class="button" ng-click="shareAnywhere()">Share anywhere</button>
	<button class="button" ng-click="shareViaTwitter()">twit share test</button>
	<button class="button" ng-click="shareViaTwitter(&apos;linking&apos;,i
	null, &apos;http:\\blog.nraboy.com&apos;)">share on twitter</button>

        <button class="button button-assertive" ng-click="launchBuy()">
          Shop now!
        </button>
      </ion-content>
    </ion-pane>
  <div class="bar bar-footer bar-dark">
    <div class="title">Hi There Footer</div>
  </div>
  </body>
</html>
